.button{
    background-color: grey;
    text-align: center;
    border: 2px solid grey;
    border-radius: 30px;
    padding: 6px 10px;
    color: white;
    font-size: 18px;
    min-height: fit-content;
}

.button:hover {
    background-color: lightgray;
}