.linkEmail {
    background-color: #21115e;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    color: white;
    min-height: fit-content;
}

.linkEmail:hover {
    background-color: rgba(33,17,94, 0.7);
}