html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: white;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  white-space: nowrap;
}

h2 {
  width: fit-content;
  position: relative;
}

h2::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -16px;
  left: 0;
  height: 6px;
  background-color: black;

}

h3 {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  border-top: 3px dashed black;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
  border: none;
}