.nav {
    display: flex; 
    padding: 1rem 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    @media (max-width:600px)  {
        padding: 0.5rem;
    }
}

.nav_link {
    position: relative;
    transition: all 0.2s;
    text-decoration: none;
}

.nav_menulist {
    display: flex;
    position: unset;
    min-height: fit-content;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    flex-grow: 1;
}

.nav_menulist button {
    padding: 0;
    margin-right: 1rem;
}

.nav_link::before {
    content: "";
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
    background-color: black;
    /* background-color: #CC3399; */
}

.nav_link:hover::before, 
.nav_link.active::before {
    width: 100%;
    content: attr('data-text');
}

.nav_menulist div:last-child {
    margin-left: auto;
}

.nav_menulist .download_resume{
    background-color: rgb(112,112,112);
    text-align: center;
    border-radius: 30px;
    padding: 6px 10px;
}

.nav_menulist .download_resume a {
    color: white;
}

.nav_menulist div:last-child:hover {
    background-color: rgba(112, 112, 112, 0.7);
}
