.nav {
    display: flex; 
    padding: 1rem 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    @media (max-width:600px)  {
        padding: 1rem 0.5rem;
    }
}

.nav_link {
    position: relative;
    transition: all 0.2s;
    text-decoration: none;
}

.nav_menulist {
    display: flex;
    position: unset;
    min-height: fit-content;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    flex-grow: 1;
}

.nav_link::before {
    content: "";
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
    background-color: #21115e;
}

.nav_link:hover::before, 
.nav_link.active::before {
    width: 100%;
    content: attr('data-text');
}

.nav_menulist a {
    margin-left: auto;
}
