.container {
  margin: 0 5rem;
}

.headerImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.full_rounded {
  border-radius: 9999px;
}

.padding1px {
  padding-top: 1px;
}

.footer {
  display: flex; 
  padding: 1rem 5rem;
  justify-content: space-between;
  align-items: stretch;
  align-items: center;
  background-color: grey;
  bottom: 0;
  font-size: 14px;
}